.hiddenAll {
  display: none;
}

.transition {
  transform: opacity 1s ease-out;
}

.hidden {
  opacity: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.block {
  display: block;
}
